

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.levels {position: relative;}
.levels ul {margin: 0; padding: 0;}
.levels ul li {height: 106px; list-style: none; display: block; padding: 5px 200px 5px 96px; overflow: hidden; margin:0; position: relative;}
.lt-ie8 ul li {height: 96px;}
.levels ul dl {margin: 0;}
.levels ul dl dt { position: absolute; line-height: 60px; font-size: 40px; color: #999; box-sizing: border-box; width: 64px; height: 64px; text-align: center; margin-top: -32px; margin-left: -32px; left: 48px; top: 53px; border: 2px solid #999; border-radius: 6px;}
.levels ul dl dd {display: list-item; list-style-type: disc; margin: 0 20px; padding: 0; line-height: 16px;}
#overall .levels ul dl dd {list-style-type: none; margin: 0 20px 0 0; line-height: 16px;}
.levels ul li a.info-button {display: none;}
.levels .form-group.current, .levels .form-group.desired {position: absolute; top: 0; width: 100px;}
.levels .form-group.current {right: 100px;}
.levels .form-group.desired {right: 0px;}
.levels .form-group.current p, .levels .form-group.desired p {position: absolute; bottom: 100%; width: 100px; left: 0; text-align: center; font-size: 18px; margin: 0;}
.level-five {background-color: #a8d4ff}
.level-four {background-color: #b5daff}
.level-three {background-color: #c6e3ff}
.level-two {background-color: #d8ecff}
.level-one {background-color: #e5f2ff}
.my-slider {margin: 53px auto 0; height: 424px;}
.lt-ie8 .my-slider {position: relative; top: 53px;}
.no-js .js-webapp {display: none;}
fieldset.tab p.directions {margin-bottom: 30px; margin-top: -15px;}
.phone-lists {display: none;}
.fancybox-inner dd {display: list-item; list-style-type: disc; margin: 10px 20px; padding: 0;}
.fancybox-inner *[id^="overall"] dd {list-style-type: none; margin: 10px 0;}
.green {color: #55a51c;}
.blue {color: #5183af;}
.page-header {margin-top: 10px;}
.plot-container {max-width: 600px; width: 100%; height: 400px; margin: 30px auto 45px;}
.plot-container .plot-inner {max-width: 600px; width: 100%; height: 400px;}
#submit-button {background-color: #5e189d;}
#submit-button:hover, #submit-button:active {background-color: #2f0c4c;}

/* begin SmartForms CSS */

/* css for company select list display frame class */
.divDisplayFrame {
visibility:hidden;
border-style:solid !important;
border-width:2px !important;
border-color:#CCC !important;
width:420px !important;
height:500px !important;
position:absolute !important;
background-color:#ffffff !important;
top:100px !important;
padding:10px !important;
text-align:center;
}

/* css for loading animation div */
.divLoadingFrame {left:50% !important; top:65% !important;}

/* css for company select list table class within displayFrame */
.tabCompList td {line-height:100%; padding:0 !important;}
.tabCompList hr {width:400px;}
.tabCompList h3 {padding:10px 0px 0px 0px !important;}

/* css for company select list div row class within displayFrame */
.divCompList {line-height:100%; padding:5px;}
.divCompNAName {padding-bottom:10px;}

/* css for browser-specific fixes */
.ie8 .divDisplayFrame {top:140px !important; height:550px !important;}
.ie8 .tabCompList h3 {padding-top:0px !important;}
.ie9 .divDisplayFrame {top:130px !important; height:550px !important;}
.ie9 .tabCompList h3 {padding-top:0px !important;}
html[data-useragent*='MSIE 10.0'] .divDisplayFrame {top:130px !important; height:550px !important;}
html[data-useragent*='MSIE 10.0'] .tabCompList h3 {padding-top:0px !important;}
.-moz- .divDisplayFrame {top:160px !important; height:530px !important;}
.-moz- .tabCompList h3 {padding-top:0px !important;}

/* end SmartForms CSS */

@media screen and (max-width: 992px) {
  .levels ul dl dd { display: none; }
  .levels ul li a.info-button {display: inherit; margin-top: 25px}
}

@media screen and (max-width: 520px) {
  .info-button-text {display: none;}
}





